<form (ngSubmit)="submitHandler()">
  @if (this.editMode()){
    <legend>Editar temporada</legend>
  }@else{
    <legend>Crear temporada</legend>
  }
  <div class="m3-text-field">
    <label>Nombre</label>
    <input type="text" [formField]="seasonForm.name">
  </div>
  <div class="m3-date-field">
    <label>Fecha de comienzo:</label>
    <input type="date" [formField]="seasonForm.startDate">
  </div>

  <div class="m3-date-field">
    <label>Fecha de comienzo:</label>
    <input type="date" [formField]="seasonForm.endDate">
  </div>
  @if(seasonForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  @if(!this.editMode()){
    <mat-checkbox
      [(ngModel)]="cloneSeason"
      [ngModelOptions]="{standalone: true}"
    >
      Clonar carpas y servicios actuales
    </mat-checkbox>
  }
  <div class="m3-form-actions">
    <button type="reset" (click)="editMode.set(false)" class="m3-button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="m3-button-filled">Actualizar temporada</button>
    }@else{
      <button type="submit" class="m3-button-filled">Crear temporada</button>
    }
  </div>

</form>
