<form class="dialog" (ngSubmit)="submitHandler()">
  @if (this.editMode()){
    <legend>Editar temporada</legend>
  }@else{
    <legend>Crear temporada</legend>
  }
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [formField]="seasonForm.name">
  </mat-form-field>
  <app-date-input-picker
    label="Fecha de comienzo"
    (value)="handleStartDate($event)"
  />
  <app-date-input-picker
    label="Fecha de finalización"
    (value)="handleEndDate($event)"
  />

  @if(seasonForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  @if(!this.editMode()){
    <mat-checkbox
      [(ngModel)]="cloneSeason"
      [ngModelOptions]="{standalone: true}"
    >
      Clonar carpas y servicios actuales
    </mat-checkbox>
  }
  <div class="m3-form-actions">
    <button type="reset" (click)="editMode.set(false)" class="m3-button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="m3-button-filled">Actualizar temporada</button>
    }@else{
      <button type="submit" class="m3-button-filled">Crear temporada</button>
    }
  </div>

</form>
