<form (ngSubmit)="submitted()">
  @if (editMode()){
    <legend>Editar Reserva</legend>
  } @else {
    <legend>Crear Reserva</legend>
  }
  <legend>Fechas</legend>
  <label>CheckIn</label>
  <input type="datetime-local" [formField]="reservationForm.dates.checkIn">
  <label>CheckOut</label>
  <input type="datetime-local" [formField]="reservationForm.dates.checkOut">
  <label>Precio</label>
  <input type="number" [formField]="reservationForm.price">
  <label>Servicio</label>
  <select>
    @for (service of services(); track $index){
      <option [value]="service.id">{{service.name}}</option>
    }
  </select>
  <p>Cliente: {{reservation().client?.name}}</p>
  <p>Carpa: {{reservation().shadow?.identifier}}</p>
  @if(reservationForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <input type="reset" (click)="editMode.set(false)">
  @if (editMode()){
    <input type="submit" value="Actualizar">
  }@else{
    <input type="submit" value="Crear">
  }
</form>
