<form (ngSubmit)="submitted()">
  @if (editMode()){
    <legend>Editar Reserva</legend>
  } @else {
    <legend>Crear Reserva</legend>
  }
  <app-date-input-picker
  label="Comienzo"
  (value)="this.handleCheckInDate($event)"
  />
  <app-date-input-picker
    label="Finalización"
    (value)="this.handleCheckOutDate($event)"
  />
  @if(!editMode()){
    <app-select-input
      label="Servicio"
      [options]="servicesToDisplay()"
      (selectedOption)="handleServiceChange($event)"
    />
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput type="number" [formField]="reservationForm.price">
    </mat-form-field>
    <p>Cliente: {{reservation().client?.name}}</p>
    <p>Carpa: {{reservation().shadow?.identifier}}</p>
  }

  @if(reservationForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }

  <div class="form-actions">
    <button type="reset" (click)="handleReset()" class="button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="button-filled">Actualizar reserva</button>
    }@else{
      <button type="submit" class="button-filled">Crear reserva</button>
    }
  </div>
</form>

