<div class="panel">
  <app-shadow-map
    initialState="viewing"
    [loadedShadows]="shadows()"
    (currentElement)="setShadow($event)"
  />
  <div>
    <h3>Crear una reserva</h3>
    <app-reservation-form
      [client]="client()"
      [shadow]="shadow()"
      (finalReservation)="createReservation($event)"
    />
    <p>Cliente seleccionado</p>
    <app-client-card
      [client]="client()"
      (click)="openClientDialog()"
    />
    <p>Carpa seleccionada</p>
    <app-shadow-card
      [shadow]="shadow()"
    />
  </div>
</div>
