<div
  class="list-detail-layout">
  @if (this.showList()){
    <section class="list-panel">
      <h2>Cartera de clientes</h2>
      <app-client-list-manager
        [actions]="true"
        (selectedClient)="openClientDetail($event)"
        (edit)="setCurrentClient($event)"
        (delete)="deleteClient($event)"
      />
    </section>
  }
  @if(this.showDetails()){
    <section class="detail-panel">
      <div class="detail-header">
        <h2>Cliente seleccionado</h2>
        @if(!this.singlePane()){
          <button
            class="icon-btn close-btn"
            (click)="this.currentPane.set('list')">
            <mat-icon fontIcon="close"/>
          </button>
        }
      </div>
      <app-client-details/>
    </section>
  }
</div>
<app-fab-button
  icon="add"
  label="Nuevo cliente"
  (touched)="handleFABButton()"
/>
