<div class="component">
  <h3>Ver reservas</h3>
  <div class="row">
    <div>

      <app-reservation-searcher
        (activeSelect)="active.set($event)"
      />
      <div class="row">
        @let reservations = this.reservations();
        @for(reservation of reservations; track $index) {
          <app-reservation-card
            [reservation]="reservation"
          />
        }
      </div>
    </div>
    <div>
      <app-reservation-form
        #reservationForm
        (finalReservation)="handleSubmit($event)"
        [reservationToEdit]="currentReservation()!"
      />
    </div>
  </div>
</div>
