<form class="dialog" (ngSubmit)="submitPayment()">
  @if (editMode()) {
    <legend>Editar pago</legend>
  } @else {
    <legend>Crear pago</legend>
  }
  <app-date-input-picker
    label="Fecha del pago"
    [initialValue]="payment().date"
    (value)="handlePaymentDate($event)"
  />
  <mat-form-field>
    <label>Monto</label>
    <input matInput type="number" [formField]="paymentForm.amount"/>
  </mat-form-field>
  <mat-form-field>
    <label>Descripcion</label>
    <input matInput type="text" [formField]="paymentForm.description!"/>
  </mat-form-field>
  <app-select-input
    label="Tipo de pago"
    [usePipe]="paymentType"
    [options]="paymentMethods()"
    (selectedOption)="handlePaymentType($event)"
  />

  <mat-form-field>
    <label>Cambio</label>
    <input matInput type="number" [formField]="paymentForm.changeType"/>
  </mat-form-field>
  <mat-form-field>
    <label>Factura</label>
    <input matInput type="text" [value]="payment().invoiceId!" readonly/>
  </mat-form-field>
  <p>SubTotal: {{total() | currency}}</p>
  @if(paymentForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <div class="form-actions">
    <button type="reset" (click)="editMode.set(false)" class="button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="button-filled">Actualizar pago</button>
    }@else{
      <button type="submit" class="button-filled">Crear pago</button>
    }
  </div>

</form>
