<form (ngSubmit)="submitPayment()">
  <label>Fecha</label>
  <input type="date" [formField]="paymentForm.date"/>
  <label>Monto</label>
  <input type="number" [formField]="paymentForm.amount"/>
  <label>Descripcion</label>
  <input type="text" [formField]="paymentForm.description!"/>
  <label>Tipo de pago</label>
  <select [formField]="paymentForm.type">
    <option>CASH</option>
    <option>USD_DOLLAR</option>
    <option>TRANSFER</option>
    <option>CREDIT_CARD</option>
    <option>CHECK</option>
    <option>CRYPTO</option>
    <option>OTHER</option>
  </select>
  <label>Cambio</label>
  <input type="number" [formField]="paymentForm.changeType"/>
  @if(paymentForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <input type="submit">
</form>
