<div class="component">
  <h3>Editar facturas.</h3>
  <div class="row">
    @for(invoice of invoices(); track $index){
      <app-invoice-card
        (click)="selectInvoice(invoice)"
        [invoice]="invoice"
      />
    }
  </div>
  @if (this.invoice()){
    <app-invoice-adjustment-form
      #editItemForm
      [itemToEdit]="currentItem()"
      (finalInvoiceItem)="handleSubmitEvent($event)"
    />
    <app-invoice-adjustment
      (editItem)="this.currentItem.set($event)"
      (deleteItem)="handleDeleteInvoiceItem($event)"
      [items]="editingItems()"
    />
  }

</div>
