@let client = this.client();
<app-card
  role="button"
  [routerLink]="['/client-view', client.id!]"
>
  <mat-icon aria-hidden="true" fontIcon="person" card-icon />
  <span card-header-row>{{client.name}}</span>
  <div class="client-details" card-body-row>
    <div class="detail-item">
      <mat-icon class="detail-icon">mail</mat-icon>
      <span class="detail-text">{{ client.email }}</span>
    </div>

    <div class="detail-item">
      <mat-icon class="detail-icon">call</mat-icon>
      <span class="detail-text">{{ client.phone }}</span>
    </div>
  </div>
</app-card>

