<div class="list-detail-layout">
  @if(this.showList()){
    <section class="list-panel">
      <h2>Temporadas configuradas</h2>
      <app-season-list-manager
        (selected)="handleSelected($event)"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)"
        (create)="handleFABButton()"
      />
    </section>
  }
  @if(this.showDetails()){
    <section class="detail-panel">
      @if(currentSeason()){
        <h2>Detalles de la temporada</h2>
        @if(!this.singlePane()){
          <button
            class="icon-btn close-btn"
            (click)="this.currentPane.set('list')">
            <mat-icon fontIcon="close"/>
          </button>
        }
         <app-season-details [seasonData]="currentSeason()"/>
      } @else {
        <p>Seleccione una temporada para ver sus detalles</p>
      }
    </section>
  }

</div>

