@if(this.season()){
  <div
    #overlayOrigin
    (click)="openSwitcher()"
  >
      @if(this.season()!){
        @let season = this.season();
        <h2>
          @if (!this.season().isActive){
            <mat-icon
              fontIcon="history"
              matTooltipClass="tooltip"
              matTooltip="Temporada histórica"
              matTooltipPosition="below"
            />
          }
          @if(this.isMobile()){
            <mat-icon
              matTooltipClass="tooltip"
              [matTooltip]="season.name"
              matTooltipPosition="below"
              fontIcon="calendar_month"/>
          }@else{
            {{season.name}}
          }
        </h2>
      }
  </div>
}
