<div class="single-layout">
  <h2>Crear reserva</h2>
  <app-shadow-map
    initialState="viewing"
    [loadedShadows]="shadows()"
    (currentElement)="setShadow($event)"
  />

  <div class="m3-side-sheet sheet-open">
    <app-reservation-form
      #reservationForm
      [client]="client()"
      [shadow]="shadow()"
      (finalReservation)="handleSubmit($event)"
    />
    <p>Cliente seleccionado</p>
    <app-client-card
      [actions]="false"
      [client]="client()"
      (click)="openClientDialog()"
    />
    <p>Carpa seleccionada</p>
    <app-shadow-card
      [shadow]="shadow()"
    />
  </div>

</div>
