<div class="single-layout">
  <h2>Crear reserva</h2>
  <app-shadow-map
    initialState="viewing"
    [loadedShadows]="shadows()"
    (currentElement)="setShadow($event)"
  />
  <app-side-sheet
      [isOpen]="sideSheetOpen()"
      headline="Crear reserva"
      (closed)="this.sideSheetOpen.set(false)"
    >
    <p>Carpa seleccionada</p>
    <app-shadow-card
      [shadow]="shadow()"
    />
    <p>Cliente seleccionado</p>
    <app-client-card
      [actions]="false"
      [client]="client()"
      (click)="openClientDialog()"
    />
    <app-reservation-form
      #reservationForm
      [client]="client()"
      [shadow]="shadow()"
      (finalReservation)="handleSubmit($event)"
    />
  </app-side-sheet>
</div>
  <app-fab-button
    icon="add"
    label="Crear reserva"
    (touched)="this.sideSheetOpen.set(true)"
  />
