<div class="single-layout">
  <h2>Editar mapa carpas/sombrillas</h2>
  <div class="content">
    <app-shadow-list
      (onDropped)="updateMap($event)"
    />
    <app-shadow-map
      initialState="editing"
      [loadedShadows]="shadows()"
      (newElement)="addShadow($event)"
      (updateElement)="movedShadowHandler($event)"
      (currentElement)="selectShadowHandler($event)"
      (deletedElement)="deleteShadow($event)"
    />
    <app-shadow-form
      (finalShadow)="identifierChangedHandler($event)"
      [shadowToEdit]="currentShadow()"
    />
  </div>
</div>
<app-fab-menu
  (actionSelected)="handleMenuAction($event)"
  [actions]="actions()"
/>
