<div class="single-layout">
  <h2>Editar mapa</h2>
    <app-shadow-map
      initialState="editing"
      [loadedShadows]="shadows()"
      (newElement)="addShadow($event)"
      (updateElement)="movedShadowHandler($event)"
      (currentElement)="selectShadowHandler($event)"
      (deletedElement)="deleteShadow($event)"
    />
  <app-side-sheet
    [isOpen]="sideSheetOpen()"
    headline="Editor mapa"
    (closed)="this.sideSheetOpen.set(false)">
    <app-shadow-list
      (onDropped)="updateMap($event)"
    />
    @if(currentShadow()) {
      <br>
      <app-shadow-form
        (finalShadow)="identifierChangedHandler($event)"
        [shadowToEdit]="currentShadow()"
      />
    }@else{
      <p>Seleccione un elemento del mapa para editarlo o arrastre uno de la lista para agregarlo al mapa.</p>
    }
  </app-side-sheet>
</div>
<app-fab-menu
  (actionSelected)="handleMenuAction($event)"
  [actions]="actions()"
/>
