@let invoice = this.invoice();
<div class="invoice-card" [ngClass]="invoice.state!.toLowerCase()">
  <div class="card-icon-container">
    @switch (invoice.state!) {
      @case ('PaidState') {
        <mat-icon class="state-icon paid">check_circle</mat-icon>
      }
      @case ('IssuedState') {
        <mat-icon class="state-icon pending">schedule</mat-icon>
      }
    }
  </div>
  <div class="card-content">
    <div class="card-header-row">
      <span class="invoice-monto">{{ invoice.amount | currency }}</span>
      <span class="invoice-fecha">{{ invoice.date | date:'shortDate' }}</span>
    </div>
    <div class="card-body-row">
      <span class="invoice-id">#{{ invoice.id!.substring(0,8) }}</span>
      <span class="state-text">{{ invoice.state! | invoiceState}}</span>
    </div>
  </div>
</div>
