@let invoice = this.invoice();
<app-card
  role="button"
  [routerLink]="['/invoice-view', invoice.id!]"
>
  <div card-icon>
    @switch (invoice.state!) {
      @case ('PaidState') {
        <mat-icon class="state-icon paid">check_circle</mat-icon>
      }
      @case ('IssuedState') {
        <mat-icon class="state-icon pending">schedule</mat-icon>
      }
    }
  </div>

  <div card-body-row>
    <span class="invoice-monto">{{ invoice.amount | currency }}</span>
    <span class="invoice-fecha">{{ invoice.date | date:'shortDate' }}</span>
  </div>
  <div card-header-row>
    <span class="invoice-id">#{{ invoice.id!.substring(0,8) }}</span>
    <span class="state-text">{{ invoice.state! | invoiceState}}</span>
  </div>
</app-card>

