<form class="dialog" (ngSubmit)="submitted()">
  @if (!editMode()){
    <legend>Crear cliente</legend>
  } @else {
    <legend>Editando cliente</legend>
  }
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [formField]="clientForm.name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [formField]="clientForm.email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Télefono</mat-label>
    <input matInput type="tel" [formField]="clientForm.phone"/>
  </mat-form-field>

  @if(clientForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <div class="form-actions">
    <button type="reset" (click)="editMode.set(false)" class="button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="button-filled">Actualizar cliente</button>
    }@else{
      <button type="submit" class="button-filled">Crear cliente</button>
    }
  </div>
</form>
