<form (ngSubmit)="submitted()">
  @if (!editMode()){
    <legend>Crear cliente</legend>
  } @else {
    <legend>Editando cliente</legend>
  }
  <div class="m3-text-field">
    <label for="name">Nombre:</label>
    <input type="text" [formField]="clientForm.name"/>
  </div>
  <div class="m3-text-field">
    <label for="email">Email:</label>
    <input type="email" [formField]="clientForm.email" />
  </div>
  <div class="m3-text-field">
    <label for="phone">Télefono:</label>
    <input type="tel" [formField]="clientForm.phone"/>
  </div>

  @if(clientForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <div class="m3-form-actions">

    <button type="reset" (click)="editMode.set(false)" class="m3-button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="m3-button-filled">Actualizar cliente</button>
    }@else{
      <button type="submit" class="m3-button-filled">Crear cliente</button>
    }
  </div>
</form>
