@let isOpen = this.isOpen();
<div
  [class.open-menu]="isOpen"
  class="menu"
>
  <ul>
    @for(item of links; track $index){
      <li>
        <button
          routerLinkActive="active-menu-button"
          [routerLink]="item.path"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
          [matTooltipDisabled]="isOpen"
          [matTooltip]="item.label"
        >
          <mat-icon
            [fontIcon]="item.icon"
          />
          @if(isOpen){
            <span>{{item.label}}</span>
          }
        </button>
      </li>
    }
  </ul>
</div>
