  <ul cdkMenuBar class="menu-bar">
    @for (link of links; track $index) {
      <li>
        <button
          class="menu-bar-item"
          [cdkMenuTriggerFor]="subMenu"
          cdkMenuItem>
          {{ link.label }}
        </button>

        <ng-template #subMenu>
          <ul cdkMenu class="sub-menu">
            @for (item of link.subLinks; track $index) {
              <li>
                <button
                  [routerLink]="item.url"
                  class="sub-menu-item"
                  cdkMenuItem
                >
                  {{ item.label }}
                </button>
              </li>
            }
          </ul>
        </ng-template>
      </li>
    }
  </ul>
