<div
  [class.open-menu]="isOpen()"
  class="menu"
>
  <ul>
    @for(item of links; track $index){
      <li>

        <button
          routerLinkActive="active-menu-button"
          [routerLink]="item.link.path"
          matTooltipPosition="after"
          [matTooltipDisabled]="isOpen()"
          [matTooltip]="item.link.label"
        >
          <mat-icon
            [fontIcon]="item.link.icon"
          />
          @if(isOpen()){
            {{item.link.label}}
          }
        </button>
      </li>
    }
  </ul>
</div>
