<div class="single-layout">
  <h2>Crear reserva</h2>
  <app-shadow-map
    initialState="viewing"
    [loadedShadows]="shadows()"
    (currentElement)="setShadow($event)"
  />
  <app-side-sheet
      [isOpen]="sideSheetOpen()"
      headline="Crear reserva"
      (closed)="this.sideSheetOpen.set(false)"
    >
    <app-reservation-form
    #reservationForm
    [client]="client()!"
    [shadow]="shadow()"
    (finalReservation)="handleSubmit($event)"
    />
    @if(shadow() != null) {
      <app-shadow-card
        [shadow]="shadow()"
      />
    }
    @if (client() != null) {
      <app-client-card
        [client]="client()!"
      />
    }
    <p (click)="openClientDialog()">Seleccionar cliente</p>
  </app-side-sheet>
</div>
  <app-fab-button
    icon="add"
    label="Crear reserva"
    (touched)="this.sideSheetOpen.set(true)"
  />
