<div class="dialog season-switch">
  <section class="header">
    <div class="headline">
      <h3>Cambiar temporada</h3>
    </div>
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
  </section>

  @let list = this.seasons!;
    <div class="content">
      @if(list) {
        <ul class="season-list">
          @for (season of list;track $index) {
            <li class="season-item" [class.active]="season.isActive">
                <mat-icon
                  (click)="setSeason(season)"
                  [fontIcon]="currentSeason().id === season.id ? 'check_box' :'check_box_outline_blank'"
                  matTooltipClass="tooltip"
                  [matTooltip]="season.isActive ? 'Temporada actual' :'Seleccionar temporada historica'"
                  matTooltipPosition="below"
                />
              <p>
                {{season.name | json}}:
              </p>
              @if (season.isActive){
                <mat-icon
                  matTooltipClass="tooltip"
                  matTooltip="Temporada activa"
                  fontIcon="toggle_on"
                />
              } @else {
                <mat-icon
                  matTooltip="Marcar como temporada activa"
                  matTooltipClass="tooltip"
                  (click)="setActive(season)"
                  fontIcon="toggle_off"
                />
              }
            </li>
          }
        </ul>
      }
    </div>
</div>
