<div class="dialog">
  <section class="header">
    <div class="headline">
      <h3>Cambiar temporada</h3>
    </div>
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
  </section>

  @let list = this.seasons!;
    <div>
      @if(list) {
        @for (season of list;track $index) {
          <div (click)="setSeason(season)">

            {{season.name | json}}:
            {{season.startDate | date:'short'}} /
            {{season.endDate | date: 'short'}}
          </div>
          <button (click)="setActive(season)">Marcar como active</button>
        }
      }
    </div>
</div>
