<div class="search">
  <form (ngSubmit)="handleSubmit()">
    <label>Nombre</label>
    <input
      placeholder="Buscar por nombre"
      type="text"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="searchQuery().name"
    >

<!--    <label>Tipo</label>-->
<!--    <select-->
<!--      [ngModelOptions]="{standalone: true}"-->
<!--      [(ngModel)]="searchQuery().type" >-->
<!--      <option value="ALL">Todos</option>-->
<!--      @for (serviceType of serviceTypes(); track $index){-->
<!--        <option [value]="serviceType">{{serviceType| serviceType}}</option>-->
<!--      }-->
<!--    </select>-->

    <button type="submit"><mat-icon fontIcon="search"/></button>
  </form>
</div>
