<div class="list-detail-layout">
  @if (this.showList()){
    <section class="list-panel">
      <h2>Lista de servicios</h2>
      <app-service-list-manager
        (selectedService)="handleSelect($event.id!)"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)"
        (create)="handleFABButton()"
      />
    </section>
  }
  @if(this.showDetails()){
    <section class="detail-panel">
      @if(currentService()){
        <div class="detail-header">
          <h2>Servicio seleccionado</h2>
          @if(!this.singlePane()){
            <button
              class="icon-btn close-btn"
              (click)="this.currentPane.set('list')">
              <mat-icon fontIcon="close"/>
            </button>
          }
        </div>
        <!--      <app-service-details/>-->
        {{currentService() | json}}
      }@else{
        <p>Seleccione un servicio para ver sus detalles</p>
      }
    </section>
  }
</div>
