<form (ngSubmit)="submitted()">
  @if (this.editMode()) {
    <legend>Editar Carpa</legend>
  } @else {
    <legend>Crear Carpa</legend>
  }
  <label>Identificador</label>
  <input type="text" [formField]="shadowForm.identifier" />
  @if(shadowForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  @if (editMode()) {
    <input type="submit" value="Actualizar">
  } @else {
  <input type="submit" value="Guardar">
  }
  <input type="reset" (click)="editMode.set(false)" value="Cancelar">
</form>
