<form (ngSubmit)="submitted()">
  @if (this.editMode()) {
    <legend>Editar Carpa</legend>
  } @else {
    <legend>Crear Carpa</legend>
  }

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [formField]="shadowForm.identifier"/>
  </mat-form-field>
  @if(shadowForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }

  <div class="form-actions">
    <button type="reset" (click)="editMode.set(false)" class="button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="button-filled">Actualizar sombra</button>
    }@else{
      <button type="submit" class="button-filled">Crear sombra</button>
    }
  </div>
</form>
