  <header class="top-app-bar">
    <div class="leading-section">
      @if(menuOpen()){
        <mat-icon
          (click)="button.emit()"
          fontIcon="menu_open"
        />
      }@else{
        <mat-icon
          (click)="button.emit()"
          fontIcon="menu"
        />
      }

      <span
        class="app-title"
        (click)="titleTouched.emit()"
      >
      {{title()}}
    </span>
    </div>

    <div class="trailing-section">
      <app-current-season-display/>
    </div>
  </header>
