<div class="list-detail-layout">
  @if (this.showList()){
    <section class="list-panel">
      <h2>Cartera de clientes</h2>
      <app-client-list-manager
        (selectedClient)="handleSelectClient($event.id!)"
        (edit)="editClient($event!)"
        (delete)="deleteClient($event)"
        (create)="handleFABButton()"
      />

    </section>
  }
  @if(this.showDetails()){
    <section class="detail-panel">
      @if (currentClient()){
        <div class="detail-header">
          <h2>Cliente seleccionado</h2>
          @if(!this.singlePane()){
            <button
              class="icon-btn close-btn"
              (click)="this.currentPane.set('list')">
              <mat-icon fontIcon="close"/>
            </button>
          }
        </div>
        <app-client-details
          [clientData]="currentClient()"
        />
      }@else{
        <p>Selecciona un cliente para ver sus detalles</p>
      }
    </section>
  }
</div>

