$fondo: #F4F6F7;
$fondo-2: #7F8C8D;
$primario: #1B4F72;
$primario-2: #AED6F1;
$secundario: #F5F5DC;
$secundario-2: #D4AC0D;
.panel{
  display: flex;
  width: 90dvw;
  margin: 50px auto;
  justify-content: space-between;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: $fondo;
}

form{
  background-color: $secundario-2;
  border-radius: 10px;
  padding: 10px;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: $primario-2;
  border-radius: 10px;
}
