<form (ngSubmit)="submittedForm()">
  <app-date-input-picker
    label="Fecha inicio"
    [initialValue]="starDate()"
    (value)="handleStartDate($event)"
  />
  <app-date-input-picker
    label="Fecha final"
    [initialValue]="endDate()"
    (value)="handleEndDate($event)"
  />
  <app-select-input
    label="Tipo de pago"
    [options]="paymentOptions()"
    (selectedOption)="this.paymentType.set($event)"
    [initialOption]="paymentType()"
    [usePipe]="pipe"
  />
  <div class="form-actions">
    <button type="reset" class="button-text">Limpiar Formulario</button>
    <button type="submit" class="button-filled">Generar reporte</button>
  </div>
</form>
