<form class="dialog" (ngSubmit)="onSubmit()">
  @if(editMode()){
    <legend>Editar servicio</legend>
  } @else {
    <legend>Crear servicio</legend>
  }

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [formField]="serviceForm.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio:</mat-label>
    <input matInput type="number" [formField]="serviceForm.price">
  </mat-form-field>
  <app-select-input
    label="Tipo"
    [usePipe]="typePipe"
    [options]="types()"
    (selectedOption)="handleTypeChange($event)"
  />

  @if(serviceForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  <div class="form-actions">
    <button type="reset" (click)="editMode.set(false)" class="button-text">Limpiar Formulario</button>
    @if (editMode()){
      <button type="submit" class="button-filled">Actualizar servicio</button>
    }@else{
      <button type="submit" class="button-filled">Crear servicio</button>
    }
  </div>

</form>
