<form (ngSubmit)="onSubmit()">
  @if(editMode()){
    <legend>Editar servicio</legend>
  } @else {
    <legend>Crear servicio</legend>
  }
  <label>Nombre:</label>
  <input type="text" [formField]="serviceForm.name">
  <label>Precio</label>
  <input type="number" [formField]="serviceForm.price">

  @if(serviceForm().touched()){
    @for(error of allFormErrors(); track $index){
      <p class="error">{{error.message}}</p>
    }
  }
  @if (editMode()) {
    <input type="submit" value="Actualizar">
  } @else {
    <input type="submit" value="Crear">

  }
  <input type="reset" (click)="editMode.set(false)">
</form>
