@let details = this.detail();
@if (details) {
  @let shadow = details.shadow;
  @let reservations = details.reservations;
  <div class="detail" animate.enter="enter-animation">
    <h3>{{shadow?.type}} - {{shadow?.identifier}}</h3>
    <p>Coords:</p>
    <p>x:{{shadow.coords.x}}</p>
    <p>y:{{shadow.coords.y}}</p>
  <p>Reservas historicas</p>
  @for (reservation of reservations; track $index) {
    <app-reservation-card
      [reservation]="reservation"
    />
  } @empty {
    <p>No reservations for this shadow.</p>
  }
  </div>
}
