@import "../../../../styles";
.map {
  border: 4px solid $primario; /* Grosor base */
  background-color: #ffffff !important;
  color: #000000 !important;
  transition: border-color 0.3s ease; /* Suavidad al cambiar */
}

.border-editing {
  border-color: #E67E22; /* Naranja: Acción requerida / Editando */
}

.border-delete {
  border-color: #E74C3C; /* Rojo: Alerta / Modo borrado */
}

.border-view {
  border-color: #27AE60; /* Verde: Todo en orden / Vista */
}
