<div #canvasContainer class="shadowMap">
  <canvas
    #myCanvas
    class="map"
    [class.border-editing]="state() === 'editing' && !deleteMode()"
    [class.border-delete]="state() === 'editing' && deleteMode()"
    [class.border-view]="state() === 'viewing'"
  >
  </canvas>
  <div class="buttons">
    <button (click)="zoomIn()">+</button>
    <button (click)="zoomOut()">-</button>
    <button (click)="resetView()">Resetear</button>
  @if(this.state() === 'editing'){
      <button (click)="activeDelete()">Modo eliminar</button>
  }
  </div>

</div>
