@if(this.payments() !== null){
  @let payments = this.payments()!;
  <div class="m3-table-container">

  <table class="m3-table">
    <caption>Pagos</caption>
    <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripcion</th>
      <th>Tipo de pago</th>
      <th>Monto</th>
      <th>Cambio</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
      @for (item of payments; track $index){
        <tr (click)="this.clickedPayment.emit(item)">
          <td>{{item.date | date:'short'}}</td>
          <td>{{item.description!}}</td>
          <td>{{item.type | paymentType}}</td>
          <td>{{item.amount | currency}}</td>
          <td>{{item.changeType | currency}}</td>
          <td>{{item.finalAmount! | currency}}</td>
        </tr>
      }
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" >Total:</td>
      <td>{{total() | currency}}</td>
    </tr>
    </tfoot>
  </table>
  </div>
}
