@let data = this.invoiceData();
@if (data !== undefined) {
  @let invoice = data.invoice;
  @let client = data.client;
  @let payments = data.payments;
  @let items = data.items;
  <div class="invoice detail" animate.enter="enter-animation">
    <app-client-card [client]="client"/>
    <app-invoice-card [invoice]="invoice"/>
    <div>
      <app-items-table [items]="items"/>
      {{invoice.item | json}}
      @if(payments[0].id){
        <app-payments-table [payments]="payments"/>
      }@else{
        <br>
        <p>No hay pagos registrados para esta factura.</p>
      }
    </div>
  </div>
}

