@if (this.invoice()!){
  @let invoice = this.invoice().invoice!;
  @let client = this.invoice().client!;
 <div class="invoice detail" animate.enter="enter-animation">
   <h3>Detalle factura</h3>
   <div>
     <p>{{invoice.state | invoiceState}}</p>
     <p>Fecha: {{invoice.date | date}}</p>
   </div>
   <div class="client">
     <h4>Cliente</h4>
     <p>{{client.name}}</p>
     <p>Email: {{client.email}}</p>
     <p>Telefono: {{client.phone}}</p>
   </div>
   <div>
     <app-items-table [items]="this.invoice().items"/>
     @if(this.invoice()!.payments[0].id){
       <app-payments-table [payments]="this.invoice()!.payments"/>
     }@else{
       <br>
       <p>No hay pagos registrados para esta factura.</p>
     }
   </div>
 </div>
}

