@let details = this.reservationData();
@if (details){
  <div class="detail-container">
    <div class="detail" animate.enter="enter-animation">
      <app-close-button (closeClicked)="closeModal()"/>
      <h3>Detalle de la reserva</h3>
      <h4>Fechas</h4>
      <p>{{details.reservation.dates.checkIn | date:'short'}}</p>
      <p>{{details.reservation.dates.checkOut | date:'short'}}</p>
      <p>{{details.reservation.state! | reservationState}}</p>
      <h4>Cliente</h4>
      <p>{{details.client.name}}</p>
      <h4>Sombra</h4>
      <p>{{details.shadow.identifier}}-{{details.shadow.type}}</p>
    </div>
    <app-invoice-details/>
  </div>
}
