@let data = this.reservationData();
@if (data){
  @let reservation = data.reservation;
  @let client = data.client;
  @let shadow = data.shadow;
  @let invoice = data.invoice;
  <div class="detail-container">
    <div class="detail" animate.enter="enter-animation">
     <app-reservation-card [reservation]= "reservation"/>
      <app-client-card [client]= "client"/>
      <app-shadow-card [shadow]= "shadow"/>
      <app-invoice-card [invoice]="invoice"/>
    </div>
    <app-invoice-details/>
  </div>
}
