<ul class="m3-list">
  @for (shadow of this.list(); track shadow.id) {
    <li class="m3-list-item">
      <mat-icon class="m3-leading-icon" aria-hidden="false" fontIcon="event"/>
      <div class="m3-text-content" (click)="selectedShadow.emit(shadow)">
        <span class="m3-headline">{{ shadow.identifier }} - {{shadow.type}}</span>
        <span class="m3-supporting-text">{{shadow.state | shadowState }}</span>
      </div>
      <div class="m3-trailing-action">
        <app-custom-menu/>
      </div>
    </li>
  } @empty {
    <p class="m3-empty-state">Sin sombras por el momento</p>
  }
</ul>
