.list-detail-layout {
  display: flex;
  gap: 24px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.list-panel {
  position:relative;
  height: 100%;
  width: 360px;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--md-sys-color-on-surface-variant);
    margin: 0 0 16px 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
.detail-panel {
  flex: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--md-sys-color-surface-container);
  border-radius: 24px;
  padding: 32px;
  overflow-y: auto;
  .detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 16px;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: var(--md-sys-color-on-surface);
    }

    .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 4px;
      border-radius: 50%;
      border: none;
      background: transparent;
      color: var(--md-sys-color-on-surface-variant);
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--md-sys-color-on-surface-variant);
        opacity: 0;
        transition: opacity 0.2s linear;
      }

      &:hover::before {
        opacity: 0.08;
      }

      &:focus-visible::before {
        opacity: 0.12;
      }

      &:active::before {
        opacity: 0.12;
      }

      mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
        z-index: 1;
      }
    }
  }
}


@media screen and (max-width: 955px) {
  .list-detail-layout {
    width: 100%;
    display: flex;
    gap: 0;
  }

  .list-panel {
    width: 100%;
    padding-right: 0;
  }

  .detail-panel {
    width: 100%;
    height: calc(80dvh - 80px);
    padding: 16px;
    margin: 0;
  }

  .detail-panel h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
