<div class="list-detail-layout">
  @if(this.showList()){
    <section class="list-panel">
      <h2>Listado de reservaciones</h2>
      <app-reservation-list-manager
        (selectedReservation)="handleSelectReservation($event)"
      />
    </section>
  }
@if(this.showDetails()){
  <section class="detail-panel">
    @if (currentReservation()){
    <div class="detail-header">
      <h2>Reserva seleccionada</h2>
      @if(!this.singlePane()){
        <button
          class="icon-btn close-btn"
          (click)="this.currentPane.set('list')">
          <mat-icon fontIcon="close"/>
        </button>
      }
    </div>
      <app-reservation-detail
        [reservationData]="currentReservation()"
      />
    } @else {
      <p>Seleccione una reserva para ver los detalles</p>
    }
  </section>
}
</div>
<app-fab-button
  icon="add"
  label="Crear una reserva"
  (click)="handleFABButton()"
/>
