@let reservation = this.reservation();
<app-card
  role="button"
  [routerLink]="['/reservation-view', reservation.id!]"
>

  <div card-icon>
    @switch (reservation.state!) {
      @case ('CreatedState') {
        <mat-icon class="state-icon confirmed">event_available</mat-icon>
      }
      @case ('ActiveState') {
        <mat-icon class="state-icon pending">date_range</mat-icon>
      }
      @case ('CompletedState') {
        <mat-icon class="state-icon completed">done_all</mat-icon>
      }
      @case ('CanceledState') {
        <mat-icon class="state-icon canceled">event_busy</mat-icon>
      }
      @default {
        <mat-icon class="state-icon">calendar_today</mat-icon>
      }
    }
  </div>

  <div card-body-row>
    <span class="reservation-dates">
        {{ reservation.dates.checkIn | date:'shortDate' }} - {{ reservation.dates.checkOut | date:'shortDate' }}
    </span>
  </div>
  <div card-header-row>
    <span class="reservation-duration">{{ duration() }} días</span>
    <span class="state-text">{{ reservation.state! | reservationState }}</span>
  </div>
</app-card>

